/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}
/******************************************
/* HTML font size
/*******************************************/
html {
  font-size: 62.5%;
  color: rgb(24,33,44);
}
/******************************************
/* NAV BAR
/*******************************************/
nav {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-basis: 15rem;
}

/******************************************
/* MAKE ALL SECTION CENTER ALIGN
/*******************************************/
section {
  text-align: center;
  padding: 3rem 10%;
}

/******************************************
/* SECTION THREE
/*******************************************/
.secthree {
  display: flex;
  padding: 2rem 10%;
  justify-content: space-between;
  gap: 3%;
  background-color: rgb(212,216,219);
}

.secthree section {
  padding: 0px;
}
.secthree img {
  width: 18rem;
}

/******************************************
/* FOOTER
/*******************************************/
footer, .disclaimer {
  display: flex;
  background: rgb(21,31,43);
  color: white;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.disclaimer {
  padding: 0;
}

/******************************************
/* FONT SIZE, COLOR
/*******************************************/
li {
  list-style: none;
}
h1 {
  font-size: 3rem;
}
h4 {
  font-size: 1.5rem;
}
p, span {
  font-size: 1.4rem;
}
a {
  text-decoration: none;
}
main,a {
  color: white;
}
main {
  background: rgb(102,118,138);
}

footer {
  background: rgb(21,31,43);
}
#logo {
  width: 3rem;
}